= turbo_stream.remove @friendship

- if current_user.pending_friendships.empty?
  = turbo_stream.update 'friendships_pending', ''

= turbo_stream.replace('flashes',  partial: 'shared/flashes', locals: { flash: flash })
